/*加载外部通用CSS*/

@import url("normalize.css");
html,
body {
    min-width: 1200px;
}
img{
	opacity: 1;
	filter: alpha(opacity=100);
}
p{
	line-height: 100%;
}
/*index.css*/
#fullPage-nav li, .fullPage-slidesNav li{width: 30px;height: 30px;margin: 19px;}
#fullPage-nav span, .fullPage-slidesNav span{width: 30px;height: 30px;border: 0}
#fullPage-nav li .active span, .fullPage-slidesNav .active span{background: #c7e0ff;transition: 0.5s all}
#fullPage-nav li span, .fullPage-slidesNav span{background: #61a2f3;transition: 0.5s all}

.page1{background: url(../img/slide1-bg.jpg) no-repeat center bottom #4c9bf5;}
.center{width: 1000px;margin: 0 auto;}
.col-50{width: 50%}

.page2,.page3,.page4,.page5{padding: 62px 0\9;padding: 0}
.page2{background: #9462e0\9}
.page3{background: #6ac75b\9}

.page4{background: #3dcc98}


/*.weizhi{display: block;margin: 0 auto;}*/


/*.eol-show .roll{width: 450px;height: 450px;background: url(../img/roll.png) no-repeat;left: 0;bottom: 175px}*/
/*.eol-show .people{width:187px;height:177px;background: url(../img/people.png) no-repeat;left: 118px;bottom: 237px;opacity: 0;filter: alpha(opacity=00);filter: alpha(opacity=100)\9;left: 0\9;bottom: 315px\9;}*/
/*.eol-show .people.show{left: 0;bottom: 315px;transition: 2s all;opacity: 1;filter: alpha(opacity=100)}*/
.eol-show .cellphone{margin-left:50px; margin-top:100px;width: 100%;height:80%;background: url(../img/coding.png) no-repeat;bottom: 167px;opacity: 0;filter: alpha(opacity=00);filter: alpha(opacity=100)\9}
/*.eol-show .eolgkpage{width: 206px;height:349px;background: url(../img/eolgk.png) no-repeat;position: absolute;left: 12px;top:59px;opacity: 0;filter: alpha(opacity=00);filter: alpha(opacity=100)\9}*/
/*.eol-show .hand{width: 135px;height: 234px;background: url(../img/hand.png) no-repeat;left: 261px;bottom: -227px;bottom: 0\9}*/

.eol-animation{height: 100%;}
.eol-show{position: relative;height: 100%;width: 450px;min-height: 687px;}
.eol-show div{position: absolute;}

.eol-txt{width: 40%;margin-right: 50px;color: #fff;position: relative;display: none;display: block\9;margin-top: 0px\9}
.eol-txt .logo{margin: 0 auto}
.eol-txt .txt{font-size: 33px;text-align: center;padding: 10px 0 33px 0;line-height: 100%;}

.eol-txt .btn{display: block;width: 139px;height: 47px;line-height: 47px;text-align: center;color: #fff;background: #3884e3;border-radius: 2px;border: 2px solid #8abeff;font-size: 23px;}
.eol-txt .btn:hover{text-decoration: none;transition: 0.5s all;opacity: 0.8;filter:alpha(opacity=80);}

.weixin{position: fixed;right: -112px;top: 0px;width: 180px;text-align: center;z-index: 10000;background: url(../img/people2.png) no-repeat left top;transition: 0.6s all;cursor: pointer;opacity: 0;filter: alpha(opacity=0)}
.weixin img{display: block;padding: 9px;border-radius: 3px;background: #4c9bf5;margin: -5px 0 0 68px;width: 92px;}
.weixin p{font-size: 14px;color: #fff;text-align: center;background: #4c9bf5;margin-left: 68px;line-height: 22px;border-radius: 7px 7px 0 0;margin-top: 40px;width:110px;}
.weixin:hover{right: 0;transition: 0.6s all}
.weixin.show{opacity: 1;filter: alpha(opacity=100)}

.QRcode{text-align: center;margin-top: 20px;}
.QRcode img{display: inline-block;line-height: 100%;padding: 13px;border-radius: 2px;background: #fff;}
.QRcode p{font-size: 22px;line-height: 100%;text-align: center;margin-top: 27px;}

.section h2{font-size: 56px;color: #fff;padding: 23px 0 70px 0;text-align: center;}
.section h3{font-size: 34px;color: #fff;padding-bottom: 43px;text-align: center;}
.section p{font-size: 26px;line-height: 47px;color: #e3d1ff;}


.section.page1 p{color: #fff}
.section.page3 p{color: #a7fe98}
.section.page3 .txt{width: 43%;}
.section.page4 .img img{margin-left: -31px;}
.section.page4 .txt{width: 39%;}
.section.page4 h2{color: #333}
.section.page4 h2 span{color: #FF5722;}
.section.page4 h3{color: #333;}
.section.page4 p{color: #333;}
.section.page2 .txt{width: 43%;}

.page5-info{overflow: auto;height: 100%}

.page5 .info{text-align: center;}
.page5 h4{font-size: 56px;color: #e26876;}
.page5 h5{font-size: 39px;color: #333;padding: 44px 0}
.page5 img{display: inline-block;}

.footer{background: #4cb03b;padding: 16px 0 31px 0;position: relative;margin-top: 19px;}
#glbbot{color: #fff;border: 0}
#glbbot a{color: #fff;}
#glbbot a:hover,
#glbbot a:visited,
#glbbot a:link{color: #fff;}

.page2 .txt,.page3 .txt,.page4 .txt{opacity: 0;filter: alpha(opacity=0);filter: alpha(opacity=100)\9}
.page2 .img,.page3 .img,.page4 .img{opacity: 0;filter: alpha(opacity=0);filter: alpha(opacity=100)\9}
.page2 .txt.fadeInLeft,.page3 .img.fadeInLeft,.page4 .txt.fadeInLeft{opacity: 1;filter: alpha(opacity=100)}
.page2 .img.fadeInRight,.page3 .txt.fadeInRight,.page4 .img.fadeInRight{opacity: 1;filter: alpha(opacity=100)}

.QRcode_bottom{width: 820px;margin:0 auto;}
.QRcode_bottom .right img{margin:28px 0 20px}
.QRcode_bottom .right p{color:#333}

/*隐藏滚动条*/
::-webkit-scrollbar{width:0px}


/*css3动画*/


@-webkit-keyframes circle1 {
  	0%{ transform:rotate(0deg); opacity: 0;filter: alpha(opacity=0)}
	100%{ transform:rotate(360deg); opacity: 1;filter: alpha(opacity=100) }
}

@keyframes circle1 {
  	0%{ transform:rotate(0deg); opacity: 0;filter: alpha(opacity=0)}
	100%{ transform:rotate(360deg); opacity: 1;filter: alpha(opacity=100) }
}

.circle {
  -webkit-animation-name: circle;
  animation-name: circle;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zoomIn{animation: zoomIn 2s;}
.eol-show .eolgkpage.zoomIn{opacity: 1;filter: alpha(opacity=100)}
.eol-show .cellphone.circle{animation: circle1 1s;opacity: 1;filter: alpha(opacity=100)}
.eol-txt .QRcode.bounce,.eol-txt .weixin.bounce{animation: bounce 2s;}
.fadeInLeft{animation: fadeInLeft 2s;}
.fadeInRight{animation: fadeInLeft 2s;}
.page5 .info{opacity: 0;filter: alpha(opacity=00);filter: alpha(opacity=100)\9}
.page5 .info.zoomIn{opacity: 1;filter: alpha(opacity=100)}

@media screen and (min-width: 1360px) {

}